Source: pantheon-wayland-1
Section: libs
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 gobject-introspection,
 libgirepository1.0-dev,
 libgtk-4-dev (>= 4.4),
 meson,
 valac
Standards-Version: 4.6.2
Vcs-Git: https://github.com/elementary/pantheon-wayland.git
Vcs-Browser: https://github.com/elementary/pantheon-wayland
Homepage: https://github.com/elementary/pantheon-wayland

Package: libpantheon-wayland-1
Architecture: any
Multi-Arch: same
Depends:
 gala (>= 8.4.0),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Pantheon shell utilities for Wayland
 A collection of utilities for Pantheon shell specific
 features such as sticky and centered windows

Package: libpantheon-wayland-1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libpantheon-wayland-1 (= ${binary:Version}),
 libgtk-4-dev (>= 4.4),
 ${misc:Depends},
Description: Pantheon shell utilities for Wayland
 A collection of utilities for Pantheon shell specific
 features such as sticky and centered windows

Package: gir1.2-pantheon-wayland-1.0
Section: introspection
Architecture: any
Multi-Arch: foreign
Depends: ${gir:Depends}, ${misc:Depends}
Description: Pantheon shell utilities for Wayland (introspection files)
 A collection of utilities for Pantheon shell specific
 features such as sticky and centered windows
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.
